{% extends 'base.html' %}

{% block content %}

<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
	<div class="col-md-6 px-0">
		<h1 class="display-4 fst-italic">Welcome to Life Hacks Blog</h1>
		<p class="lead my-3">If you want to learn some life hacks you are at the right place! If you like our website please consider registering. This website is built using Django Framework.</p>
	</div>
</div>

<div class="row g-5">
	<div class="col-md-8">

		<small class="pb-4 mb-4 fst-italic border-bottom">These posts are taken from reddit.com.</small>
		<hr>

		<article class="blog-post" id="post1">
			<h2 class="blog-post-title">If you quit watching the 24-hour news-cycle, life is happier.</h2>
			<p class="blog-post-meta">posted by u/HONlAHAKA</p>
			<p>The news is designed to alarm and outrage you. There's not much you can do about it anyhow. The news-cyclers produce a false picture of life by accentuating the negative events.

An informed electorate is essential, but a short weekly perusing of the major headlines, with any additional web search for points of interest or depth is plenty enough to keep informed. Balance it out by seeking the positive acts of human beings. You'll be a lot happier, and see that humans are wonderful creatures.</p>
		</article>
		<hr>

		<article class="blog-post" id="post2">
			<h2 class="blog-post-title">When you don't have all the facts, try to give people the most generous reason you can for their behaviour. </h2>
			<p class="blog-post-meta">posted by u/ContributionNarrow88</p>
			<p>Annoyingly slow driver? Maybe it's a mom with a birthday cake in the back. This mindset will gradually make you less reactive, more compassionate and more forgiving of your own bad days.</p>
		</article>
		<hr>
		
		<article class="blog-post" id="post3">
			<h2 class="blog-post-title">If you’re constantly making a routine and dropping it the next day because you feel too tired to follow it... </h2>
			<p class="blog-post-meta">Posted by u/marlene-leonora</p>
			<p>try making three different routines; one for low-energy, one for mid-energy, one for high-energy.</p>
		</article>
		<hr>

		<article class="blog-post" id="post4">
			<h2 class="blog-post-title">If a friend or a family member gets diagnosed with dementia or alzheimer... </h2>
			<p class="blog-post-meta">Posted by u/socratit</p>
			<p>In the early stages try to find out what their favorite songs of all time are. In this way you would be able to create a playlist for them that could be of great benefit in the later stages of the disease.
Music helps dementia patient recall memories and emotions. Especially when specific songs are connected to previous parts of their lives.</p>
		</article>
		<hr>

		<article class="blog-post" id="post5">
			<h2 class="blog-post-title">When a friend is upset, ask them one simple question before saying anything else: 'Do you want to talk about it or do you want to be distracted from it?'</h2>
			<p class="blog-post-meta">Posted by u/dykejoon</p>
			<p>This is honestly one of the best things you can do for an upset friend. I use it all the time and people respond very well to it. Sometimes people come to you because they need to vent. Comfort them first, then follow up with 'do you want advice or do you want me to just listen?'. But other times, they just need to let someone outside of the conflict know what happened, and then they want to talk about something else. Talk about your own day, show them the latest funny thing you saw, go do something fun together. This question sets boundaries and builds trust. It shows you can be there in any way they need.</p>
		</article>
		<hr>

		<article class="blog-post" id="post6">
			<h2 class="blog-post-title">If you like one song by an artist, but don't dig the rest of their stuff... </h2>
			<p class="blog-post-meta">Posted by u/jade_monkey07</p>
			<p>Find out who the producer is and see what other work they've done. The producer can play a big role in how the final song turns out.</p>
		</article>
		<hr>

		<article class="blog-post" id="post7">
			<h2 class="blog-post-title">After a bad break up, do 10 things that your ex would never do with you... </h2>
			<p class="blog-post-meta">Posted by u/chaithzluci</p>
			<p>You'll feel better and realize how much of yourself was being held back.</p>
		</article>
		<hr>

		<article class="blog-post" id="post8">
			<h2 class="blog-post-title">No matter how much your workplace pushes "team building" and "family culture" - remember, they're not your friends and it's still a workplace... </h2>
			<p class="blog-post-meta">Posted by u/Cat_mommie</p>
			<p>Unfortunately, I learned this the hard way. I work for a small business who put huge emphasis on everyone being friends and building a strong team, but it just means it hurts more when someone inevitably stabs you in the back. I'm not saying go around and be a dick to people for no reason, but it's better to build relationships outside of work or in places where there aren't any politics or power imbalances.

Edit: Wow I didn't expect this to blow up and there's too many comments now for me to keep up with. It's kind of vindicating but also sad that so many people feel the same or have had similar negative experiences. For the "my workplace isn't like this" and "my co-workers are my family" people - I hope it stays that way for you, I really do, but I'd maybe read some of the stories on this comment thread and be wary. It's better to be safe than sorry right?</p>
		</article>
		<hr>

		<article class="blog-post" id="post9">
			<h2 class="blog-post-title">X percent of Y is equal to Y percent of X. So, if you want to find out what 7% of 50 is, you could instead find out what 50% of 7 is, which is 3.5. This means that 7% of 50 is also equal to 3.5.</h2>
			<p class="blog-post-meta">Posted by deleted redditor</p>
			<p>More examples: If you want to find out what 2% of 20 is, do 20% of 2 instead and you'll get 0.4. So, 2% of 20 also equals 0.4.

Or, 12% of 25 can be alternatively written out as 25% of 12 instead, which would be 3.

Explanation: Commutative Property. So, 0.07 times 50 will always equal 50 times 0.07.

I hope you found this interesting and/or helpful!</p>
		</article>
		<hr>

		<article class="blog-post" id="post10">
			<h2 class="blog-post-title">If you are asked to create an account in order to continue browsing a website, hit F12 and click on the dim area, this would select it and you can delete it with DEL key, hit F12 again and resume your browsing.</h2>
			<p class="blog-post-meta">Posted by u/_TuxedoCat_</p>
			<p>This only affects the display on your browser, but it's a simple way to bypass the infuriating "create an account" or get out situation on shitty websites when you just need quick info</p>
		</article>
		<hr>

		<article class="blog-post" id="post11">
			<h2 class="blog-post-title">Birds can give you a lot of useful information just by listening to them.</h2>
			<p class="blog-post-meta">Posted by deleted redditor</p>
			<p>As I'm listening to the birds, I realize not a lot of people know this. You can tell a lot about weather and other animals just by listening to birds. I'm not sure how city birds such as pigeons work with this tip, so let me know! A few things you can tell are:

Birds go CRAZY when there is a snake nearby. I don't mean like mating season crazy, I mean constantly screaming and sometimes dive-bombing the actual snake. Use this to locate the snake and keep yourself or your family safe.

Birds 'go to sleep' when rain is coming and stay quiet in their nests.

If it is raining and the birds are still loud outside, the rain is going to continue for a long time (8-10+ hours). They're basically panicking and trying to solve the problem of running out of food soon.</p>
		</article>
		<hr>

		<article class="blog-post" id="post12">
			<h2 class="blog-post-title">If a loved one is taken in an ambulance, do not follow us to the hospital. Go there on your own time and own route.</h2>
			<p class="blog-post-meta">Posted by u/thenewyorkgod</p>
			<p>As a medic, whenever I was loading a patient in the ambulance, a family member would inevitably run up to me, keys in hand saying “I’ll follow you to the ER”.

No.

People in an emotional state following another vehicle will develop tunnel vision and forget all traffic laws. You will blow stop signs. You will follow me right through an intersection even if the light has already turned red for you. And you will slam into the back of the ambulance if we need to make a sudden stop. Remember, the patient faces backwards and can see out the back window as you blow a red light and get t-boned by an overloaded ice cream truck.

After we leave, wait ten minutes, take a deep breath and slowly make your way to the hospital.</p>
		</article>
		<hr>

		<article class="blog-post" id="post13">
			<h2 class="blog-post-title">Don’t wait around for others. Make your own plans and stick to them. Don’t be the person who never gets out just because nobody else can go with you.</h2>
			<p class="blog-post-meta">Posted by u/burgoyne17</p>
			<p>This was a hard lesson I recently came to terms with in life. I am fairly young (26) so don’t really have any hard feelings about it. I always felt I needed others to enjoy the same hobbies as me to actually enjoy doing them. This made me miss a lot of opportunities to just enjoy life.

If you want to do something (anything, be it physical, mental) just do it. By all means, extend an invite to others, but if nobody makes plans, just go do it yourself.

Instead of asking “hey, we should go out and do ______ some time”, say “hey, I’m going to go _________, did you want to come?”

This way you already have plans to do whatever it is you’re doing, and you’re just extending an invite. Not actually basing whether you will do thing on someone else.

Hope this helps someone!</p>
		</article>
		<hr>

		
			
		<nav class="blog-pagination" aria-label="Pagination">
			<a class="btn btn-outline-primary" href="#">Older</a>
			<a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
		</nav>
	</div>

	<div class="col-md-4">
		<div class="position-sticky" style="top: 2rem;">
			<div class="p-4  mb-3 bg-light rounded">
				<h4 class="fst-italic">Search by title</h4>
				<ol class="list-unstyled mb-0">
					<li><a href="#post1" style="text-decoration: none;">--> If you quit watching the 24-hour news-cycle, life is happier...</a></li>
					<li><a href="#post2" style="text-decoration: none;">--> Try to give people the most generous reason you can for their behaviour...</a></li>
					<li><a href="#post3" style="text-decoration: none;">--> If you’re constantly making a routine and dropping it...</a></li>
					<li><a href="#post4" style="text-decoration: none;">--> If a friend or a family member gets diagnosed with dementia or alzheimer...</a></li>
					<li><a href="#post5" style="text-decoration: none;">--> When a friend is upset, ask them one simple question before saying anything else...</a></li>
					<li><a href="#post6" style="text-decoration: none;">-->If you like one song by an artist, but don't dig the rest of their stuff...</a></li>
					<li><a href="#post7" style="text-decoration: none;">--> After a bad break up, do 10 things that your ex would never do with you...</a></li>
					<li><a href="#post8" style="text-decoration: none;">--> No matter how much your workplace pushes "team building" and "family culture" - remember, they're not your friends and it's still a workplace...</a></li>
					<li><a href="#post9" style="text-decoration: none;">--> X percent of Y is equal to Y percent of X</a></li>
					<li><a href="#post10" style="text-decoration: none;">--> If you are asked to create an account in order to continue browsing a website...</a></li>
					<li><a href="#post11" style="text-decoration: none;">--> Birds can give you a lot of useful information just by listening to them.</a></li>
					<li><a href="#post12" style="text-decoration: none;">--> If a loved one is taken in an ambulance, do not follow us to the hospital. Go there on your own time and own route.</a></li>
					<li><a href="#post13" style="text-decoration: none;">--> Don’t wait around for others. Make your own plans and stick to them. Don’t be the person who never gets out just because nobody else can go with you.</a></li>
					
				</ol>
			</div>
		</div>
	</div>
</div>






	
{% endblock content %}

