{% extends 'base.html' %}

{% block content %}

<!-- second css sign in -->

<style type="text/css">
	
	.form-signin {
		width: 100%;
		max-width: 330px;
		padding: 15px;
		margin: auto;
	}
	.form-signin .checkbox {
		font-weight: 400;
	}

	.form-signin .form-floating:focus-within {
		z-index: 2;
	}
	.form-signin input[type="email"] {
		margin-bottom: -1px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}

	.form-signin input[type="password"] {
		margin-bottom: 10px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	.h3{
		text-align: center;
	}
</style>

<!-- end second css sign in -->
<!-- second html sign in -->


<form class="form-signin" method="post">{% csrf_token %}
	<h1 class="h3 mb-3 fw-normal">Login</h1>
	
	<input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email adress" required autofocus>
		
	<input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" required>
		

	{% for field in login_form %}
		<p>
			

			{% for error in field.errors %}
				<p style="color: red;">{{error}}</p>
			{% endfor %}
		</p>
	{% endfor %}

	{% if login_form.non_field_errors %}
		<div style="color: red;">
			<p>{{login_form.non_field_errors}}</p>
		</div>

	{% endif %}

	<button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
</form>


<!-- end second html sign in -->


{% endblock content %}
